SKIP_PREFLIGHT_CHECK='true'

REACT_APP_NAMESPACE='test-investing-dashboard.dexe.network'
REACT_APP_UPDATE_INTERVAL='10000'

REACT_APP_INFURA_ID=
REACT_APP_ETHERSCAN_API_KEY=

REACT_APP_CONTRACTS_REGISTRY_ADDRESS='0x591A32aC7aaBE23A193Aa7dC07c068188660Ea19'

REACT_APP_ALL_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-all-pool'
REACT_APP_BASIC_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-chapel-basic-pool'
REACT_APP_INVEST_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-chapel-invest-pool'

REACT_APP_IPFS_PROJECT_ID=
REACT_APP_IPFS_PROJECT_SECRET=
